<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>Nature arabic edition</title>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" dir="rtl">
    <table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td bgcolor="#A0AFC8" width="6">&nbsp;</td>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" dir="ltr">
                        <tbody>
                            <!-- begin etoc header -->
                            <tr>
                                <td colspan="3">
                                    <a href="http://arabicedition.nature.com/" target="_blank" name="top"><img src="http://arabicedition.nature.com/img/etoc/nature-arabic-header.jpg" width="528" height="96" border="0" alt="Nature arabic edition"></a>
                                </td>
                            </tr>
                            <!-- //end etoc header -->
                            <tr>
                                <td colspan="3" bgcolor="#dcdcdc"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="1" border="0" alt=""></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <!-- begin toc -->
                            <!-- main title -->
                            <tr>
                                <td width="13">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr valign="top">
                                                <td colspan="2" align="right">
                                                    <font color="#1D1D1D" family="Times New Roman, Serif" style="text-transform:uppercase;">
                                                        <b>
                أحدث المقالات اﻷسبوعية:                         2017 أكتوبر 17                                    </b>
                                                    </font>
                                                    <hr style="border-color:#ccc;border-style:dotted none none;margin-top:0;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="13"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="13" height="1" border="0" alt=""></td>
                            </tr>
                            <!-- End of main title-->
                            <td width="13"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="13" height="1" border="0" alt=""></td>
                            <tr valign="top">
                                <td colspan="3"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="10" border="0" alt=""></td>
                            </tr>
                            <!-- begin banner slot 1 -->
                            <tr>
                                <td colspan="3">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border: 1px solid #ccc; background-color: #fafafa;">
                                        <tr>
                                            <td style="padding: 15px;">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%" style="font: 12px Helvetica, Verdana, Arial, sans-serif;">
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" width="80">
                                                                <tr>
                                                                    <td style="width: 80px; border: 1px solid #ccc;" width="80">
                                                                        <a href="http://www.nature.com/nature/supplements/nature-index-2017-innovation/index.html?WT.mc_id=TOC_INDEX_1708_Innovation" target="_blank">
                                                                            <img src="https://www.natureindex.com/img/supplements/nature-index-2017-innovation/cover.jpg" alt="Nature Index 2017 Innovation cover image" width="80" style="display: block;" />
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>

                                                        <td width="10"></td>

                                                        <td valign="top" style="font-size: 12px;">
                                                            <h3 style="padding: 0; margin: 0 0 12px 0; font-size: 12px;"><em><a href="http://www.nature.com/nature/supplements/nature-index-2017-innovation/index.html?WT.mc_id=TOC_INDEX_1708_Innovation" target="_blank">Nature Index 2017: Innovation</a></em></h3>
                                                            The Nature Index Innovation supplement examines the link between high-quality research and the commercialization of products and services, with particular focus on scientific discoveries and its economic potential.<br />
                                                            <br />
                                                            <a href="http://www.nature.com/nature/supplements/nature-index-2017-innovation/index.html?WT.mc_id=TOC_INDEX_1708_Innovation" target="_blank" style="font-weight: bold; font-size: 12px">Read the full supplement free for six month</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- end banner slot 1 -->
                            <tr valign="top">
                                <td colspan="3" height="10" style="font-size: 0; line-height: 0;">&nbsp;</td>
                            </tr>
                            <!-- begin contents -->
                            <tr>
                                <td colspan="3">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <!-- Research summaries-->
                                            <tr style="background: url(http://arabicedition.nature.com/img/etoc/title-bg.gif) repeat-x top #cad3e3;" height="26">
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2" align="right"> ملخصات الأبحاث
                                                    <a name="This-Month_Research Highlights" id="This-Month_Research Highlights"></a>
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt="">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt=""></td>
                                                            </tr>
                                                            <!-- begin Article 1-->
                                                            <tr>
                                                                <td align="right" dir="rtl">
                                                                    
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature23900" title="" style="color:#006699;text-decoration:none;" target="_blank">التيارات المدفوعة بالمجال الضوئي في الجرافين</a>
                                                                    </font>
                                                                    </br>
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature24051" title="" style="color:#006699;text-decoration:none;" target="_blank">كسوف نجمي يكشف حلقة الكوكب القزم &quot;هاوميا&quot;، وحجمه وشكله، وكثافته</a>
                                                                    </font>
                                                                    </br>
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature24042" title="" style="color:#006699;text-decoration:none;" target="_blank">تنظيم وزن الجسم من خلال مُسْتَقْبِلات GDF15 الموجودة في جذع المخ</a>
                                                                    </font>
                                                                    </br>
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature24037" title="" style="color:#006699;text-decoration:none;" target="_blank">استغلال إدمان الخلايا السرطانية للأدوية</a>
                                                                    </font>
                                                                    </br>
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature24045" title="" style="color:#006699;text-decoration:none;" target="_blank">نقص في مسار &quot;هيبو&quot; يعكس فشل القلب الانقباضي بعد احتشاء عضلة القلب</a>
                                                                    </font>
                                                                    </br>
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/nature24054" title="" style="color:#006699;text-decoration:none;" target="_blank">ضخ معدن سائل عند درجات حرارة مرتفعة</a>
                                                                    </font>
                                                                    </br>
                                                                    

                                                                </td>
                                                            </tr>
                                                            <!-- end article 1-->
                                                        </tbody>
                                                    </table>
                                                    <img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="20" border="0" alt="">
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!-- begin banner slot 2 -->
                            <tr>
                                <td colspan="3">
                                    <a href="http://www.natureindex.com/collaboration-maps/melbourne?WT.mc_id=TOC_INDEX_1705_IntercativeMap" target="_blank" name="top"><img src="http://www.natureasia.com/ja-jp/image/1060/A39869_NI Interactive Map Static 728x90.gif" width="528" height="65" border="0" alt=""></a>
                                </td>
                            </tr>
                            <!-- end banner slot 2 -->
                            
                            <tr valign="top">
                                <td colspan="3" height="10" style="font-size: 0; line-height: 0;"><&nbsp;</td>
                            </tr>
                            <!-- begin contents part 2-->
                            <tr>
                                <td colspan="3">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <!-- Thirty days -->
                                            <tr style="background: url(http://arabicedition.nature.com/img/etoc/title-bg.gif) repeat-x top #cad3e3;" height="26">
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2" align="right"> ثلاتون يوماَ
                                                    <a name="This-Month_Research Highlights" id="This-Month_Research Highlights"></a>
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt="">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt=""></td>
                                                            </tr>
                                                            <tr>
                                                                <!-- begin Article of 30 days -->
                                                                <td align="right" dir="rtl">
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/550012a" title="" style="color:#006699;text-decoration:none;" target="_blank">موجز الأخبار 5- أكتوبر</a>
                                                                    </font>
                                                                    <br/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="20" border="0" alt="">
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                            <!-- Research HL -title -->
                                            <tr style="background: url(http://arabicedition.nature.com/img/etoc/title-bg.gif) repeat-x top #cad3e3;" height="26">
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2" align="right"> أضواء على الأبحاث
                                                    <a name="This-Month_Research Highlights" id="This-Month_Research Highlights"></a>
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="13">&nbsp;</td>
                                                <td colspan="2"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt="">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="5" border="0" alt=""></td>
                                                            </tr>
                                                            <tr>
                                                                <!-- begin Article -->
                                                                <td align="right" dir="rtl">
                                                                    
                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12501" title="" style="color:#006699;text-decoration:none;" target="_blank">بيولوجيا السرطان: الميتوكوندريا وسرطان البروستاتا</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12500" title="" style="color:#006699;text-decoration:none;" target="_blank">علم الأحياء القديمة: جولات كائن جرابي عملاق</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12499" title="" style="color:#006699;text-decoration:none;" target="_blank">الكيمياء الضوئية: فوتون واحد يثير تفاعلات عديدة</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12498" title="" style="color:#006699;text-decoration:none;" target="_blank">علم الفيروسات: تحديد جين &quot;زيكا&quot; المسئول عن صِغَر حجم الرأس</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12497" title="" style="color:#006699;text-decoration:none;" target="_blank">تطور: مفاجأة في أدمغة القشريات</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12496" title="" style="color:#006699;text-decoration:none;" target="_blank">بيولوجيا النبات: جينات تزيد غلة القمح دون ترك عيوب</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12495" title="" style="color:#006699;text-decoration:none;" target="_blank">علم الكواكب: ذوبان الميثان أدَّى إلى تكوُّن بحيرات على المريخ</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12494" title="" style="color:#006699;text-decoration:none;" target="_blank">علم الأعصاب: التخفيف من الغيبوبة طويلة الأمد</a>
                                                                    </font>
                                                                    <br/>

                                                                    
                                                                    <font face="Times New Roman, Serif" size="4" style="color:#006699;text-decoration:none;">
                                                                        <a href="https://arabicedition.nature.com/journal/2017/10/12493" title="" style="color:#006699;text-decoration:none;" target="_blank">علم البيئة: إحصاء بواقي التسونامي</a>
                                                                    </font>
                                                                    <br/>

                                                                    

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="20" border="0" alt="">
                                                </td>
                                                <td width="13">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- begin footer-->
                            <tr>
                                <td colspan="3" style="border-top: 1px dotted #cccccc;"><img src="http://arabicedition.nature.com/img/etoc/spacer.gif" width="1" height="1" border="0" alt=""></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="100%" cellspacing="0" cellpadding="13">
                                        <tbody>
                                            <tr bgcolor="#f7f7f7">
                                                <td style="color:#656565; font-size: 11px; font-family: Arial, Verdana, sans-serif;" align="right">
                                                    يمكنك تغيير أو إيقاف التنبيهات على بريدك الإلكتروني في أي وقت، بتعديل تفضيلات حسابك على <a href="http://arabicedition.nature.com/" target="_blank">arabicedition.nature.com</a> من خلال الرابط:
                                                    <br/>
                                                    <a href="https://arabicedition.nature.com/myaccount/edit" target="_blank">arabicedition.nature.com/myaccount/edit</a>
                                                    <br/> (تحتاج أن تسجل الدخول على <a href="http://arabicedition.nature.com/" target="_blank">arabicedition.nature.com</a> ليتم التعرف على حسابك).
                                                    <br/>
                                                    <br/>إذا كنت قد فقدت كلمة السر الخاصة بك، يمكنك الحصول على كلمة سر جديدة من خلال الرابط التالي:
                                                    <br/>
                                                    <a href="http://arabicedition.nature.com/forgot-password" target="_blank">http://arabicedition.nature.com/forgot-password</a>
                                                    <br/>
                                                    <br/>للاستفسارات، من فضلك اتصل بإدارة التسجيل لدينا.
                                                    <br/>
                                                    <br/>
                                                    <span dir="ltr">Macmillan Egypt Limited | 3 Mohamed Tawfeeq Diab | Nasr City | Cairo 11371 | Egypt<br/>
                                    Springer Nature | Chiyoda Bldg., 2-37 Ichigayatamachi | Shinjuku-ku | Tokyo 162-0843 | Japan<br/><br/>
                                         &copy; 2017 Macmillan Publishers Limited, part of Springer Nature. All rights reserved.</span>
                                                </td>
                                            </tr>
                                            <tr bgcolor="#000000">
                                                <td align="right" bgcolor="#000000">
                                                    <img src="http://contentz.mkt941.com/lp/5326/419041/springer_nature_logo.png" alt="springernature" width="150" height="15" style="margin-top:65px;">
                                                    <img src="http://arabicedition.nature.com/img/etoc/KACST_w.png" alt="KACST logo" style="float:left" width="209" height="100">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- //end etoc footer -->
                        </tbody>
                    </table>
                </td>
                <td bgcolor="#A0AFC8" width="6">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
